.box{
	margin: 0 0 20px 0;
	padding: 5px;
	position: relative;
	background: #ffffff;
	text-align: center;
}

.box > * {
	padding: 20px;
	border: 1px solid #aecae3;
}

.box_tip:before,
.box_tip:after{
	content: " ";
	position: absolute;
	margin-left: -12px;
}

.box_tip:before {
	width: 24px;
	height: 3px;
	top: 5px;
	background: #ffffff;
}

.box_tip:after {
	width: 28px;
	height: 27px;
	top: -13px;
	background: url("../../assets/media/images/layout/pushpin.png") no-repeat 50% 50%;
}

.box_tip > * {
	border-color: #c3e4be;
}