input[type="search"]{
	box-sizing: border-box;
	padding: 6px 25px 6px 6px;
	border: 1px solid #cccccc;
	background: url("../../assets/media/images/layout/search.png") no-repeat 96% 50% #ffffff;
}

.railSearch_label{
	display: none;
}

.railSearch_input{
	width: 215px;
}

.phoneNumber {
	margin-top: 15px;
	color: #454649;
	font-size: 20px;
}

.socialMedia {
	margin: 10px 0 20px 0;
}

.socialMedia:after,
.socialMedia:before {
    content: " ";
    display: table;
}

.socialMedia:after {
    clear:both;
}

